+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{<blocks/cover title="Ciclorifugio 4.0" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">
		Chi siamo <i class="fas fa-user-friends"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentazione <i class="fas fa-book"></i>
	</a>
	<p class="lead mt-5">Il progetto prevede la costruzione di un rifugio ecosostenibile, energicamente autonomo (Near zero emission building)</p>
	{{<blocks/link-down color="info" >}}
</div>
{{</blocks/cover >}}

{{<blocks/card header="**Imagine**" title="Artist and songwriter: John Lennon" subtitle="Co-writer: Yoko Ono" footer="![SignatureJohnLennon](https://server.tld/…/signature.png \"Signature John Lennon\")">>}}
Imagine there's no heaven, It's easy if you try<br/>
No hell below us, above us only sky<br/>
Imagine all the people living for today…

…
{{</blocks/card>}}

{{<blocks/card header="**Imagine**" title="Artist and songwriter: John Lennon" subtitle="Co-writer: Yoko Ono" footer="![SignatureJohnLennon](https://server.tld/…/signature.png \"Signature John Lennon\")">>}}
Imagine there's no heaven, It's easy if you try<br/>
No hell below us, above us only sky<br/>
Imagine all the people living for today…

…
{{</blocks/card>}}


{{<blocks/section color="orange" type="features">}}
<figure>
	<img src="/its-logo-black.jpg">
</figure>
{{% blocks/feature title="Fondazione ITS-ICT PIEMONTE" url="https://www.its-ictpiemonte.it/" %}}
Una scuola che è già posto di lavoro. Un campus in cui gli studenti possono mettere subito in pratica ciò che apprendono, grazie a laboratori e progetti di gruppo.
{{% /blocks/feature %}}

<figure>
	<img src="/ITS-40.jpg">
</figure>
{{% blocks/feature title="ITS 4.0" url="https://www.its40.it/wp/" %}}
Il progetto ITS 4.0 propone a tutte le Fondazioni a cui fanno capo gli ITS un nuovo programma formativo-professionale che avvicina scuole e imprese sui temi del 4.0.
{{% /blocks/feature %}}

<figure>
	<img src="/MI.jpg">
</figure>
{{% blocks/feature title="MI" url="https://www.miur.gov.it/" %}}
Il Ministero dell'istruzione, dell'università e della ricerca (MI)
{{% /blocks/feature %}}


{{</blocks/section >}}

{{<blocks/section color="blue">}}
<strong> Team di cinque studenti del ITS-ICT PIEMONTE ha realizzato questa prototipazione</strong>


{{% blocks/feature title="Alessio Murta" %}}
<figure>
	<img src="/alessioMurta.jpg">
</figure>
<div class="mx-auto">
	<p>Alessio Murta</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="Alessia Cucca Civiero" %}}
<figure>
	<img src="/alessiaCuccaCiviero.jpg">
</figure>
<div class="mx-auto">
	<p>Alessia Cucca Civiero</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="Giulio Attucci" %}}
<figure>
	<img src="/giulioAttucci.jpg">
</figure>
<div class="mx-auto">
	<p>Giulio Attucci</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="Francesco Boero" %}}
<figure>
	<img src="/francescoBoero.jpg">
</figure>
<div class="mx-auto">
	<p>Francesco Boero</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="Gabriele Moretti" %}}
<figure>
	<img src="/gabrieleMoretti.jpg">
</figure>
<div class="mx-auto">
	<p>Gabriele Moretti</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="Davide Gomba" %}}
<figure>
	<img src="/davideGomba.jfif">
</figure>
<div class="mx-auto">
	<p>Davide Gomba</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="Alessandro Artale" %}}
<figure>
	<img src="/alessandroArtale.jfif">
</figure>
<div class="mx-auto">
	<p>Alessandro Artale</p>
</div>
{{% /blocks/feature %}}

{{</blocks/section >}}
