+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{<blocks/cover title="Ciclorifugio 4.0" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">
		About <i class="fas fa-user-friends"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentazione <i class="fas fa-book"></i>
	</a>
	<p class="lead mt-5">Il progetto prevede la costruzione di un rifugio ecosostenibile, energicamente autonomo (Near zero emission building)</p>
	{{<blocks/link-down color="info" >}}
</div>
{{</blocks/cover >}}


{{<blocks/section color="orange">}}
{{< cardpane color="black">}}
  {{< card header="Fondazione ITS-ICT PIEMONTE" color="black">}}
	<figure>
		<img src="/its-logo-black.jpg">
	</figure>
	Una scuola che è già posto di lavoro. Un campus in cui gli studenti possono mettere subito in pratica ciò che apprendono, grazie a laboratori e progetti di gruppo.
  {{< /card >}}
  {{< card header="ITS 4.0" color="black">}}
	<figure>
		<img src="/ITS-40.jpg">
	</figure>
	Il progetto ITS 4.0 propone a tutte le Fondazioni a cui fanno capo gli ITS un nuovo programma formativo-professionale che avvicina scuole e imprese sui temi del 4.0.
  {{< /card >}}
  {{< card header="MI" color="black">}}
	<figure>
		<img src="/MI.jpg">
	</figure>
	Il Ministero dell'istruzione, dell'università e della ricerca (MI)
  {{< /card >}}
{{< /cardpane >}}
{{</blocks/section >}}

{{<blocks/section color="blue">}}
<strong> Team di cinque studenti del ITS-ICT PIEMONTE ha realizzato questa prototipazione</strong>


{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Alessio Murta</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Alessia Cucca Civiero</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Giulio Attucci</p>
</div>
{{% /blocks/feature %}}


{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Francesco Boero</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Gabriele Moretti</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="" %}}
<figure>
	<img src="/davideGomba.jfif">
</figure>
<div class="mx-auto">
	<p>Davide Gomba</p>
</div>
{{% /blocks/feature %}}

{{% blocks/feature title="" %}}
<div class="mx-auto">
	<p>Alessia Cucca Civiero</p>
</div>
{{% /blocks/feature %}}

{{</blocks/section >}}
